@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: Poppins, sans-serif;
}

.gradient-form {
        background-image: url('/images/bg1.jpg');

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }   
     
h1 {
    font-weight: bold;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #0666F5;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #0666F5, #1c86ee, #00bfff, #87cefa);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0666F5, #1c86ee, #00bfff, #87cefa);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
